@import "../styles/variables.css";

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  background: var(--color-bg-primary);
  color: var(--color-text-primary);
  font-family: Arial, sans-serif;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}