:root {

  /* =======================================
     BRAND COLORS
  ======================================= */

  --color-black: #111111;
  --color-gold: #c9a227;
  --color-white: #ffffff;

/* =======================================
   TEXT
======================================= */

--color-text-primary: #ffffff;
--color-text-secondary: #d0d0d0;
--color-text-light: #ffffff;

/* =======================================
   BACKGROUND
======================================= */

--color-bg-primary: #0a0a0a;
--color-bg-dark: #111111;
--color-bg-section: #161616;

/* =======================================
   BORDER
======================================= */

--color-border: #333333;

  /* =======================================
     BORDER RADIUS
  ======================================= */

  --radius-sm: 6px;
  --radius-md: 10px;
  --radius-lg: 14px;

  /* =======================================
     SPACING
  ======================================= */

  --space-xs: 4px;
  --space-sm: 8px;
  --space-md: 16px;
  --space-lg: 24px;
  --space-xl: 40px;

  /* =======================================
     TRANSITION
  ======================================= */

  --transition-fast: .2s ease;
  --transition-normal: .25s ease;
}